.product-card-container {
  /* width: 85%;
  min-width: 150px;
  padding: 5%; */
  color: white;
  text-align: center;
}

.product-card-container img {
  width: 100%;
}

.product-card-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.product-card-info {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
  flex: 1;
  flex-flow: column;
}

.product-card-info:hover {
  opacity: 1;
  background-color: rgba(355, 355, 355, 0.88);
  backdrop-filter: blur(3px);
}

.product-card-title {
  color: #000;
  font-weight: 700;
  padding: 0em 2em;
  text-align: center;
}

.product-card-hr {
  width: 50%;
  border-top: 2px solid #312d2d;
  padding: 0 0 1em 0;
  margin: 0;
}

.product-card-description {
  color: #312d2d;
  padding: 0 2em 1.5em 2em;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: 600;
  line-height: 1.25em;
  font-style: italic;
}

.product-card-button {
  z-index: 9999;
}

.product-card-cart {
  color: white;
}

button.product-card-cart {
  border-radius: 50%;
  background-color: #312d2d;
  width: 3em;
  height: 3em;
  border: none;
}

button.product-card-cart:hover {
  background-color: #fbb03b;
  transition: all 0.4s;
}
