.home-title {
  color: #000;
  font-weight: 700;
  padding-top: 1em;
  text-align: center;
  margin: 1em 0;
}

.banner-img {
  width: 100%;
}

.home-container {
  margin: 0 auto;
  display: flex;
  padding: 2em 0;
}

.home-yellow-bg {
  background-color: #fbb03b;
  width: 100%;
  height: 200px;
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 2em;
}

button.home {
  color: #fff;
  background-color: #312d2d;
  border: none;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

h2.text-center {
  font-weight: bold;
  padding: 0.5em;
}
